@charset "UTF-8";
/* general */

body {
  font-family: 'DotGothic16', sans-serif;
  width:100%;
}

p, body, h1, ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.inner {
  margin: 0 auto;
  max-width: 1100px;
}

.clearFix {
  content: '';
  display: block;
  clear: both;
}

.design-retroBorder {
  border-top: 3px solid #fff;
  border-left: 3px solid #fff;
  border-bottom: 3px solid #000;
  border-right: 3px solid #000;
}

.push:active {
  position: relative;
  top: 3px;
  border-top: 3px solid #000;
  border-left: 3px solid #000;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
}

/* header */
.header {
  background-color: #bfbda2;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.header__inner {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.header__logo {
  margin-top: 3px;
  margin-bottom: 3px;
  overflow: hidden;
}

.header__logo p {
  background-color: #bfbda2;  
  font-size: 30px;
  padding: 0 12px;
  box-sizing: border-box;
  border-top: 6px solid #000;
  border-left: 6px solid #000;
  border-bottom: 6px solid #fff;
  border-right: 6px solid #fff;
  position: relative;
}

.header__logo p::before {
  content: '';
  display: block;
  height: 80px;
  border-left: 18px solid rgba(207, 230, 243, 0.37);
  transform: rotate(30deg);
  position: absolute;
  top: -24px;
  left: -30px;
  animation: reflection 2s linear infinite;
}

@keyframes reflection {
  0% {
    left: -30px;
  }
  100% {
    left: 180px;
  }
}

.header__logo p::after {
  content: '';
  display: block;
  height: 80px;
  border-left: 9px solid rgba(207, 230, 243, 0.37);
  transform: rotate(30deg);
  position: absolute;
  top: -24px;
  left: -30px;
  animation: reflectionSecond 2s linear infinite;
  animation-delay: 0.2s;
}

@keyframes reflectionSecond {
  0% {
    left: -30px;
  }
  100% {
    left: 180px;
  }
}

.header__list {
  margin: 0;
  padding: 0;
  display: flex;
  font-weight: bold;
  /* margin-right: 30px; */
  padding-right: 40px;
}

.header__list li {
  margin-right: 12px;
  padding: 3px 6px;
}

.header__list li:last-child {
  margin-right: 0;
}

/* theme */

.theme {
  background-color: #2f6c68;
  margin-top: 48px;
}

.theme__inner {
  padding: 64px 0;
}

.theme__isretro {
  text-align: center;
  font-size: 72px;
}

/* article */

.article {
  background-color: #742e12;
  display: flex;
}

.article__inner {
  width: 70%;
  padding: 32px 12px;
  font-weight: bold;
}

.article__head {
  text-align: center;
  font-size: 36px;
}
  
.article__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 32px;
}

.article__contents {
  background-color: #d28a2d;
  padding: 6px 6px;
  width: 30%;
  margin-top: 12px;
}

.article__contents:nth-child(1),
.article__contents:nth-child(2),
.article__contents:nth-child(3) {
  margin-top: 0;
}

.article__sideConent {
  background-color: #bfbda2;
  width: 30%;
}

.article__sideConent__title {
  text-align: center;
  font-size: 24px;
}

.article__sideConent__inner {
  padding: 6px;
}

.article__sideConent__ads {
  padding: 6px;
  margin-top: 6px;
}

.article__sideConent__ads:first-child {
  margin-top: 0;
}

.social {
  background-color: #2f6c68;
}

.social__inner {
  width: 100%;
}

.social__snsList {
  display: flex;
  font-size: 36px;
}

.social__snsItems {
  margin-left: 12px;
}

.social__snsItems:first-child {
  margin-left: 0;
}

.footer {
  background-color: #bfbda2;
  text-align: center;
}

